html {
    font-family: Arial;
}

body {
    overflow: hidden;
}

.form-control {
    border-color: rgb(255,201,201);
    border-style: dashed;
    border-width: 2px;
}



.login-container {
    background-color: white;

    height: 100%;
}

#login-div1{  
    background-color: rgb(255,201,201);
}

#mini-login-img { 
  height:333.5px;
  width:187.5px;
}

#login-text1 {
    font-weight: bold;
    font-size:80px;
}

#login-text2 {
    font-size: 40px;
}

#login-form {
    margin-top: 20px;
}

#login-form-group1 {
    margin-top: 20px;
}

#login-form-group2 {
    margin-top: 20px
}

#name-input {
    margin-top: 20px;
}

#username-input { 
    margin-top: 20px;
}

.button {

    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 196, 196);
    transition: all 0.3s;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(255, 148, 148);
}